body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

header {
    text-align: center;
    background-color: #f8f8f8;
    color: #b670e9;
    padding: 5px 0;
}

.contenedor {
    display: flex;  
    gap: 20px;  
    align-items: stretch; /* Hace que ambas secciones tengan la misma altura */
}

footer {
    text-align: center;  /* Centra el texto y los enlaces */
    padding: 15px;
    background-color: #f8f8f8;  
}


#perfil {
    flex: 2;  
    display: flex;
    align-items: center;
    gap: 30px;
}

#perfil img {
    width: 200px;
    height: 200px;
    border-radius: 30%;
    object-fit: cover;
}

.info {
    flex: 1; 
}

#zodiaco {
    flex: 1;  
    background-color: #b670e9;  
    padding: 15px;
    border-radius: 8px;  
    display: flex;  
    flex-direction: column; /* Para que el contenido no se deforme */
    justify-content: center; /* Centra el contenido verticalmente */
    height: 100%; /* Hace que la sección crezca con la del perfil */
}

section {
    margin-top: 20px;
    padding: 15px;
    background: rgb(240, 210, 245);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Elementos de la Información académica y Laboral */

.info-bloque {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.texto {
    flex: 1; /* Hace que el texto ocupe el espacio restante */
}

.info-bloque img {
    width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

ul {
    list-style-type: square; /* Cambia las viñetas a cuadrados */
}


/* Elementos de la sección de Catniss */

.fotos {
    display: flex;  
    justify-content: center;  
    gap: 20px;  
    margin-top: 10px;
}

.fotos figure {
    text-align: center;  /* Centra el texto debajo de la imagen */
}

.fotos img {
    width: 200px;  
    height: 200px;
    border-radius: 50%;  
    object-fit: cover;  
    border: 3px solid #ddd;  
}

.fotos figcaption {
    margin-top: 5px;  
    font-size: 14px;  
    color: #555;  /* Color gris suave para el texto */
}